body {
    padding-inline: 300px;
    padding-bottom: 50px;
 /* font-family: Arial, sans-serif; */
 text-align: center;
 background-color: #eef2ff;
}

.game{
    display: flex;
    align-items: center;
    gap: 100px;
}
.board {
 display: grid;
 grid-template-columns: repeat(3, 80px);
 grid-gap: 5px;
 padding:30px 20px;
 max-width: 300px;
}

.cell {
 font-family: "Mooli";
 width: 80px;
 height: 80px;
 border: 2px solid #333;
 font-size: 2em;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
}
.cell:hover{
 background-color: #b7b2b2;
}

.btn{
 margin-top: 30px;
 width: 100px;
 height: 40px;
}

.move-history{
    width: 700px;
    text-align: left;
    margin-left: 20px;
    max-width: 200px;
}


.move-history h2{
    font-size: 1.2em;
    margin-bottom: 5px;
}

.move-history ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.move-history li button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 1em;
}

.move-history li button:hover{
    background-color: #0056b3;
}